body {
	font-size: 0.9rem;
}

.wrapper {
	padding-top: 50px;
}

.navbar {
	padding: .3rem 1rem;
	position: fixed;
	display: block;
	width: 100%;
	height: auto;
	z-index: 9999;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.navbar-toggler:focus {
	border: none;
	outline: none;
}

#searchCli {
	border-radius: 50px;
}

#searchCli::placeholder {
	color: #ababab;
}

#cadastros {
	border: none;
}

#cadastros tbody tr {
	margin-bottom: 30px;
	background: #f9f9f9;
	border: 1px solid #ececec;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* #cadastros tbody tr.shadow {
	box-shadow: none !important;
} */

#cadastros td {
	border: none;
}

#cadastros td:not(:first-child) {
	border-top: 1px solid #dee2e6;
}

.glossary-letter__disabled {
	cursor: default;
	user-select: none;
}

.back-top {
	display: none;
	position: absolute;
	top: -100px;
	left: -100px;
}

@media only screen and (max-width: 767px) {

	.scroll-cont {
		padding: 0 18px 0 0;
	}

	.search-mob {
		width: 100% !important;
	}

	.cont-glossary {
		position: fixed;
		height: 100%;
		overflow-y: auto;
		padding-top: 75px;
		right: 0;
		bottom: 8px;
		padding-right: 7px;
	}

	.glossary {
		justify-content: flex-start !important;
	}

	.letters {
		justify-content: flex-start !important;
	}

	.glossary * {
		font-size: 0.9rem;
		margin-bottom: 5px;
	}

	.glossary .letters {
		overflow-x: scroll;
	}

	.glossary .letters::-webkit-scrollbar {
		height: 1px;
	}

	.glossary .letters::-webkit-scrollbar-track {
		background: #d4d4d4;
	}

	.glossary .letters::-webkit-scrollbar-thumb {
		background: #007bff;
	}

	.glossary-letter {
		font-weight: bold;
	}

	/* .glossary-letter,
   .glossary-letter__disabled {
      margin-left: 20px;
   } */

	#cadastros.shadow {
		box-shadow: none !important;
	}

	#cadastros tbody tr.shadow {
		box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
	}

	#cadastros,
	#cadastros thead,
	#cadastros tbody,
	#cadastros thead tr,
	#cadastros tbody tr,
	#cadastros thead th,
	#cadastros tbody td {
		display: block;
	}

	#cadastros thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	

	#cadastros tbody tr td:not(:last-child) {
		position: relative;
		padding-left: 26%;
	}

	#cadastros tbody tr td:before {
		content: attr(data-title);
		position: absolute;
		top: 13px;
		left: 15px;
		font-weight: bold;
	}

	.back-top {
		backface-visibility: hidden;
		display: none;
		position: fixed;
		bottom: 1.7em;
		right: 1.7em;
		top: auto;
		left: auto;
	}

}